/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 7, 2019, 10:56:07 PM
    Author     : wgfox
*/

@charset "UTF-8";
/* CSS Document */







/*
.th1 {
    width: 100;
   
    position: absolute;
    height: 2.5%;
    top: 120px;
    border: 1px solid #ffffff;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
  
  
}
    
.th2 {
    
  width: 300; 
     position: absolute;
     height: 2.5%;
    top: 120px;
     border: 1px solid #ffffff;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
  
  
}
    
.th3 {
    
  width: 500;
     position: fixed;
     height: 2.5%;
    top: 120px;
   
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
}
    
.th4 {
  /*  
  width: 750px /* width of your table*/; 
   /*  position: fixed;
     height: 2.5%;
    top: 120px;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
}

    
.th5 {
    
  width: 900px /* width of your table*/; 
 /*    position: fixed;
     height: 2.5%;
    top: 120px;
 
    font-family: Arial, Helvetica, sans-serif;
}
    
.th6 {
  /*  
  width: 900px /* width of your table*/; 
 /*    position: fixed;
     height: 2.5%;
    top: 120px;
     color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
}

.td {
    position: relative;
    top:0px;
    left: 20px;
    border: 1px solid #ffffff;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
   
  
  
}

*/