/* 
Created  Date: 02/02/2020 
Modified Date: 08/08/2022
Author: William Fox
Description: Horizontal Menu for FoxBase  
FileName: Menu.css
Code Name: BigSky
Style Sheets:  menu.css 
 */
 
 
  div a {
        background-color: #000000;
       
       } 
 
 
.logo a {
    position: relative;
    height: 10px;
    width: 10px;
    position: absolute;
    margin: -1px -1px 0;
}

.navfb a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
  position: absolute;
  top:50px;
  width: 100px;
  left : 190px;
  font-family: Arial, sans-serif;
}
.navapp a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
  position: absolute;
  top:50px;
  width: 100px;
  left : 230px;
  font-family: Arial, sans-serif;
}
.navkb a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
  position: absolute;
  top:50px;
  width: 100px;
  left : 380px;
  font-family: Arial, sans-serif;
}
.navdev a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
  position: absolute;
  top:50px;
  width: 100px;
  left : 530px;
  font-family: Arial, sans-serif;
}
.navimg a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
  position: absolute;
  top:50px;
  width: 100px;
  left : 640px;
  font-family: Arial, sans-serif;
}
.navlib a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
  position: absolute;
  top:50px;
  width: 100px;
  left : 750px;
  font-family: Arial, sans-serif;
}
.navmem a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
  position: absolute;
  top:50px;
  width: 100px;
  left : 850px;
  font-family: Arial, sans-serif;
}
 
.nav li {
    display: inline-block;
    margin-right: -4px;
  }
 



  


